@font-face {
  font-family: 'ir_sans';
  src: url("../font/IRANSansRegular.ttf") format("woff");
}

@font-face {
  font-family: 'ir_sans_b';
  src: url("../font/IRANSansBold.ttf") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap");
body {
  font-family: 'ir_sans_b' !important;
  background: #e9ebef;
  overflow-x: hidden;
  direction: rtl;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
}
a {
    text-decoration: none !important;
}
ul {
  list-style: none;
}


.bdt-timeline-container {
    width: 100vw;
}

.top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;;
  box-shadow: 0 1px 2px 2px rgb(55 56 72 / 4%);
}

.top_menu .left_menu {
  margin: 20px;
}
.top_menu .right_menu {
  margin: 0 20px 0 0;
}

.top_menu .right_menu .register {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  align-items: center;
  height: 60px;
  margin-right: 16px;
}

.top_menu .right_menu .register li:first-child {
  border-radius: 50%;
  border: 1px solid #c6c7c7;
  padding: 5px 6px 0 0;
  width: 32px;
  height: 32px;
}

.top_menu .right_menu .register li {
  margin: 0 0 0 10px;
}

.top_menu .right_menu .register li:first-child a svg {
  color: #000!important;
}
.top_menu .right_menu .register li a {
  text-decoration: none;
  color: currentColor;
  font-size: 14px;
  font-weight: 400;
  color: #fff!important;
}
.top_menu .right_menu .register li:last-child a,
.top_menu .right_menu .register li:last-child svg {
  text-decoration: none;
  color: currentColor;
  font-size: 14px;
  font-weight: 400;
  color: #2075bd;
}
/* Slider */
.upk-salf-slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100vh;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  position: relative;
}

.upk-salf-slider-wrapper .upk-salf-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.upk-salf-slider-wrapper .upk-salf-item.swiper-slide-active .upk-salf-title,
.upk-salf-slider-wrapper .upk-salf-item.swiper-slide-active .upk-salf-desc,
.upk-salf-slider-wrapper .upk-salf-item.swiper-slide-active .upk-salf-button {
  opacity: 1;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-image-wrap {
  height: 100%;
  width: 100%;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-xanc-img {
  display: block;
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
  object-fit: cover;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
  position: absolute;
  right: 15%;
  top: 30%;
  overflow: hidden;
  -webkit-transition: -webkit-backdrop-filter 0.9s;
  transition: -webkit-backdrop-filter 0.9s;
  transition: backdrop-filter 0.9s;
  transition: backdrop-filter 0.9s, -webkit-backdrop-filter 0.9s;
  padding-left: 20px;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 80px;
  margin-left: 50px;
  opacity: 0;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  line-height: 1.6;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-left: 50px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button {
  opacity: 0;
  margin-left: 50px;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link {
  color: #2b2d42;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link:hover {
  color: #ff215a;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed {
  display: inline-block;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed .arrow-icon {
  position: relative;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  vertical-align: middle;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed .arrow-icon--circle {
  -webkit-transition: stroke-dashoffset .3s ease;
  transition: stroke-dashoffset .3s ease;
  stroke-dasharray: 95;
  stroke-dashoffset: 95;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed g {
  stroke: currentColor;
  color: #2b2d42;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed:hover .arrow-icon {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed:hover .arrow-icon--circle {
  stroke-dashoffset: 0;
}

.upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link--arrowed:hover g {
  color: #ff215a;
}

/* Navbar */
.navbar, .menu {
  background: #00000066!important;
  width: 100vw;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin: 0px auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #fff;
}

.navbar .menu-item,
.menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em 1.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  letter-spacing: 0.5px;
}

.navbar .menu-item .menu-text,
.navbar .menu-item .menu-text a,
.menu .menu-item .menu-text,
.menu .menu-item .menu-text a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
  text-align: center;
}

.navbar .menu-item .menu-text a:hover,
.menu .menu-item .menu-text a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.news {
  -webkit-box-shadow: inset 0 -15px 30px rgba(255, 255, 255, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -15px 30px rgba(255, 255, 255, 0.4), 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 115px;
  height: 60px;
  margin: 20px 5px;
  overflow: hidden;
  border-radius: 20px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news span {
  float: left;
  color: #fff;
  height: 30px;
  background: chocolate;
  border-radius: 50%;
  padding: 6px;
  margin-right: 5px;
  position: relative;
  top: 1%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.news .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.news .right ul {
  margin: 0;
  padding: 0;
  color: black;
}

.news .right ul li {
  overflow: hidden;
  list-style: none;
  font-size: 14px;
  text-align: left;
  line-height: 25px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  color: #fff;
}

.news .right ul li.open {
  height: 25px;
  max-height: 25px;
  opacity: 1;
}

.news .right ul li.close {
  height: 0;
  max-height: 0;
  opacity: 0;
}

footer {
  width: 100%;
  z-index: 2;
  background: #2c303a;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid #434654;
}

footer .content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
  background: #2c303a;
  border-bottom: 1px solid #434654;
}

.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}

.content .top .media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

footer .content .link-boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  right: -2px;
  bottom: -2px;
  height: 2px;
  width: 75px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a ,
.content .link-boxes .box li div {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer .bottom-details {
  width: 100%;
  background: #2c303a;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

/* form {
  position: absolute;
  top: 40%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

form:hover, form:valid {
  width: 200px;
  cursor: pointer;
}

form:hover input, form:valid input {
  display: block;
}

form a {
  display: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

form:valid a {
  display: block;
} */
/*# sourceMappingURL=main.css.map */

.setting_header {
  width: 100vw;
  display: flex;
  margin-top: 70px;
  padding: 0 40px 10px;
  border-bottom: 1px solid #646464;
}

.container {
  width: 100vw;
  margin: 30px auto;
}

.s_btn {
  position: absolute;
  top: 70px;
  left: 30px;
}

.tab-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.tab-list::before {
  content: '';
  display: block;
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  background-color: #0d6efd;
  transition: .3s;
}

.tab-item {
  flex: 1;
  text-align: center;
  transition: .3s;
  opacity: 0.5;
  max-width: 100px;
}

.tab-item label {
  color: #0d6efd;
}

.tab-toggle {
  display: none;
}

.tab-content {
  display: none;
}

.tab-toggle:nth-child(1):checked~.tab-list .tab-item:nth-child(1),
.tab-toggle:nth-child(2):checked~.tab-list .tab-item:nth-child(2) {
  opacity: 1;
}

.tab-toggle:nth-child(2):checked~.tab-list::before {
  transform: translateX(-100%);
}

.tab-toggle:nth-child(1):checked~.tab-container .tab-content:nth-child(1),
.tab-toggle:nth-child(2):checked~.tab-container .tab-content:nth-child(2) {
  display: block;
}

.tab-trigger {
  display: block;
  padding: 10px 0;
}

.tab-container {
  padding: 15px 30px;
}

table thead tr th,
table tbody tr {
  border: 1px solid rgb(190, 190, 190) !important;
}


/*//////////////////////////////////*/

.search_resultes {
  font-size: 10px;
  line-height: 1.4;
}

.results_sort span {
  font-size: 14px;
  font-weight: bold;
}

.results_sort .sort_title {
  color: #646464;
  font-size: 12px;
  margin-right: 10px !important;
}

.btn_tab button {
  color: #646464;
  text-decoration: none;
  font-size: 12px;
  margin: 5px !important;
}

.btn_tab button.active {
  color: #204de0;
  font-weight: 500;
}

.box_img {
  position: absolute;
  z-index: 2;
  top: 160px;
  right: 0
}

.card {
  display: block;
  overflow-x: hidden;
  height: auto;
}

.card-header {
  background: #292721 !important;
  height: 30px;
  width: 100vw;
}

.review {
  font-size: 12px;
}

.daily,
.sailing {
  font-weight: 700;
  font-size: 13px;
}

.result_number {
  font-weight: 800;
}

.select_checkbox {
  direction: rtl;
}

.success {
  color: rgb(12, 107, 12);
  font-size: 12px;
  margin-right: 5px !important;
}

.btn-link {
  text-decoration: none !important;
  color: #646464 !important;
}

.btn_cm {
  font-size: 12px !important;
  padding: 0 20px !important;
}

.btn:focus {
  box-shadow: none !important;
  border: none !important;
}

.price {
  font-size: 24px;
}

.ribbon {
  background: #FF7711;
  padding: 5px 20px !important;
  border-radius: 5px 0 0 5px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  font-weight: bold;
}

.filters {
  font-size: 18px;
}

.sub_filters {
  font-size: 12px;
  padding-right: 5px !important;
  color: #646464;
}

.price-range-slider {
  width: 100%;
  float: left;
  padding: 10px 20px;
}

.price-range-slider .range-value {
  margin: 0;
}

.price-range-slider .range-value input {
  width: 100%;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: initial;
  box-shadow: none;
  border: none;
  margin: 20px 0 20px 0;
}

.price-range-slider .range-bar {
  border: none;
  background: #000;
  height: 3px;
  width: 96%;
  margin-left: 8px;
}

.price-range-slider .range-bar .ui-slider-range {
  background: #06b9c0;
}

.price-range-slider .range-bar .ui-slider-handle {
  border: none;
  border-radius: 25px;
  background: #fff;
  border: 2px solid #4ba0a3;
  height: 17px;
  width: 17px;
  top: -0.52em;
  cursor: pointer;
}

.price-range-slider .range-bar .ui-slider-handle+span {
  background: #06b9c0;
}

.info_links {
  position: absolute;
  left: 60px;
  font-size: 12px;
}

.mini_box {
  width: 130px;
  font-size: 14px;
  box-shadow: 0 0 2px #646464;
  padding: 10px !important;
}

.search_info li span:first-child {
  font-size: 12px;
  color: #06b9c0;
}

.search_info li span:last-child {
  color: #646464;
}


/*--- /.price-range-slider ---*/

.btn-primary , .btn-primary svg, .btn-primary a{
  color: #fff!important;
}

/* Media */
@media (min-width: 320px) {
  .visible-phone {
      display: block;
  }
  .visible-desktop {
      display: none;
  }
  .navbar-expand .navbar-nav {
      flex-direction: column!important;
  }
  .quantity input {
      width: 100%;
  }
  body .navbar .navbar-nav .nav-item .dropdown-menu .mega-content .sublink input[type=text] {
      height: 38px;
      width: 90%;
  }
  body .big_title {
      width: 90%;
  }
  .btn_group {
      width: 75%;
  }
}
@media screen and (max-width:480px) {
  .navbar,
  .menu  {
    padding: 0 0 0.5em 0;
  }
  .navbar .menu-item,
  .menu .menu-item {
    padding: 0 0.5em;
  }
}

@media (max-width: 520px) {
  footer {
    background: #00000066!important;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  }
  footer::before {
    top: 145px;
  }
  footer .content .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
@media (min-width: 768px) {
  footer {
      position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
  .visible-desktop {
      display: block;
  }
  .visible-phone {
      display: none;
  }
  .navbar-expand .navbar-nav {
      flex-direction: row!important;
  }
  .btn_group {
      width: 50%;
  }
  .upk-salf-slider-wrapper {
    height: 100vh;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-title {
    font-size: 40px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
    padding-left: 0;
    top: 30%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: unset;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-image-wrap {
    width: 100%;
  }
  .visible-desktop {
      display: block;
  }
  .visible-phone {
      display: none;
  }
  .navbar-expand .navbar-nav {
      flex-direction: row!important;
  }
  .btn_group {
      width: 50%;
  }
}
@media only screen and (max-width: 990px) {
  footer .content .link-boxes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
  .serviceBox {
      margin: 0 0 30px;
  }
}

@media (min-width: 1024px) {
  .upk-salf-slider-wrapper {
    height: 100vh;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-title {
    font-size: 50px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
    padding-left: 0;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-desc {
    font-size: 16px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-button .link {
    font-size: 16px;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-image-wrap {
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .upk-salf-slider-wrapper {
    height: 100vh;
  }
  .upk-salf-slider-wrapper .upk-salf-item .upk-salf-title {
    font-size: 55px;
  }
}


/* Animation */
@-webkit-keyframes showit {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    70% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes showit {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    70% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    80% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}