.result {
  &-Header {
    margin-top: 1rem;
  }
  &-layout {
    &-header {
      &-left {
        span {
          :first-child {
            font-size: 14px;
          }
          &:last-child {
            font-size: 10px;
          }
        }
      }
      &-right {
        width: 98%;
        height: 25px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &-item {
          width: 100%;
          padding: 0 7px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgb(229, 230, 230);
          cursor: pointer;
          span {
            color: #707070;
            font-size: 13px;
            font-weight: 500;
          }
        }
        .active {
          background-color: #49a7fa60;
          border: 1px solid #05387d;
          span {
            color: #05387d;
          }
        }
        .firstItem {
          border-radius: 0 15px 15px 0;
        }
        .lastItem {
          border-radius: 15px 0 0 15px !important;
        }
      }
    }
    &-sidebarFilter {
      background: #fdfdfd !important;
      // height: 400px;
      &-title {
        height: 40px;
      }
      &-divider {
        margin: 12px 0 !important;
      }
      &-panels {
        width: 100%;
        .ant-slider-track {
          background: #2075bd;
        }
        .ant-slider-handle {
          border: 2px solid #2075bd;
        }
        .ant-slider-rail {
          background: #e5e6e6;
        }
      }
    }
    &-content {
      &-item {
        margin: 1rem 1rem 0 0 !important;
        width: 100%;
        display: flex;
        justify-content: center;
        background: none !important;
        &-parent {
          height: 50px;
          margin-right: 5px;
          align-items: center;
        }

        &-header {
          width: 100%;
          height: 190px;
          background: #fdfdfd !important;
          border-radius: 5px;
          box-shadow: 0 0 10px 1px rgba(11, 11, 48, 0.342);
          &:hover {
            transition: 0.3s;
            box-shadow: 0 0 10px 7px rgba(11, 11, 48, 0.342);
            // border: 1px solid rgb(122, 183, 194) !important;
          }
        }
        &-panel {
          width: 100%;
          // height: 267px;
          border: none !important;
          .ant-collapse-header {
            padding: 0 !important;
          }
        }
        &-option {
          padding: 0 1rem 3px 1rem;
          cursor: pointer;
          font-size: 13px;
          display: flex;
          align-items: center;
          box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.1);
          border-radius: 15px;
        }
        .bestValue {
          color: #715397;
          background: #decafa;
        }
        .cancellation {
          color: #237957;
          background: #b8f5bd;
          margin-right: 0.5rem;
        }
        .provider {
          color: #125c9b;
          background: #d3f1f7;
          margin-right: 0.5rem;
        }
        .first_body {
          padding: 0.7rem 0;
          margin-bottom: 1rem;
        }
        &-body {
          margin: 0.5rem 1rem 0 0;
          height: 30px;
          &-text {
            font-size: 13px;
            color: #707070 !important;
          }
          &-lastOption {
            &-rate {
              margin-right: 1rem !important;
              svg {
                width: 11px;
              }

              .ant-rate-star-full {
                svg {
                  transition: 0.4s;
                  fill: rgb(65, 136, 177);
                }
              }
            }
          }
          &-est {
            font-size: 13px;
          }
          &-city {
            .worldWide {
              margin-right: 7px;
            }
          }
          &-truck {
            width: 50px;
            margin: 0 1rem !important;
            svg {
              width: 20px;
              color: #707070;
            }
          }
        }
        &-choose {
          height: 80%;
          padding: 1rem;
          border-right: 1px solid #70707036;
          align-self: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          span {
            font-size: 15px;
            font-weight: 500;
          }
          &-cost {
            color: #707070 !important;
            position: relative;
            font-size: 13px !important;
            &-off {
              position: absolute;
              top: 12px;
              width: 100%;
              height: 1px;
              background: red;
              transform: rotate(170deg);
            }
          }
          &-button {
            margin-top: 1rem;
          }
          &-calendar {
            margin-top: 0.5rem;
            svg {
              width: 12px;
            }
            &-text {
              font-size: 10px !important;
            }
          }
        }
        .ant-collapse-arrow {
          left: 7rem !important;
          top: 148px !important;
          svg {
            margin-top: 3.5rem;
          }
        }
      }
    }
  }
  &-divider {
    width: 2px;
    z-index: 9999;
    background: red;
  }
}
.ant-collapse {
  border: none !important;
}
.editMenuTop {
  width: 50px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 7px !important;
}
.modalEdit {
  top: 100px !important;
  .ant-modal-close {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .ant-modal-body {
    background: #fdfdfd;
    height: 57vh;
  }
  .ant-modal-footer {
    width: 100%;
    direction: ltr !important;
    display: flex;
    justify-content: start;
  }
}
.centerMenu {
  &-recommendedServices {
    overflow-y: scroll;
  }
}
