// for styles
* {
  direction: rtl !important;
  text-align: right;
}
.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-header {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-center {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &-Forms {
      width: 100%;
      height: 15%;
      margin: 0 0 0.9rem 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &-details {
        background-color: white;
        border: 10px #bdbebd solid;
        box-shadow: -5px 5px 10px 10px rgba(0, 0, 0, 0.1);
        border-width: 0.3px;
        border-radius: 8px 8px 8px 8px;
        width: 80%;
        height: 80%;
        flex-direction: row;
      }
    }

    &-descriptions {
      width: 100%;
      height: 82%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-imagesPart {
        width: 80%;
        height: 100%;
        flex-direction: row;

        &-Box {
          max-height: 70%;
          width: 100%;
          display: flex;
          flex-direction: column;

          &-img {
            display: flex;
            justify-content: center;
            height: 53%;
            width: 100%;
            padding: 3%;

            &-ThisImg {
              max-width: 80%;
              max-height: 150px;
            }
          }

          &-text {
            height: 47%;
            width: 100%;
          }
        }
      }
    }
  }
}
.centerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  &_origin {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    cursor: pointer;
    &_top {
      display: flex;
      align-items: center;
      margin-right: 10px;
      span {
        margin-right: 5px;
      }
      h5 {
        margin: 0 5px 0 0;
      }
      svg {
        width: 12px;
        margin-top: 5px;
      }
    }
    p {
      margin: 0 11px;
    }
  }
}
.ant-divider-vertical {
  background: rgb(198, 199, 199);
  height: 40% !important;
}
#small-col-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.originalForm {
  width: 550px;
  height: 200px !important;
  background-color: white;
  // border: 1px #bdbebd solid;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 10px !important;
  position: relative;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 60px;
    margin-top: 5px !important;
    input {
      height: 32px;
      font-size: 14px;
      &::placeholder {
        font-size: 10px;
      }
    }
  }
  &-title {
    font-weight: 500;
    font-size: 17px;
  }
  &-divider {
    margin: 0 !important;
    position: absolute;
    bottom: 43px;
    left: 0;
    right: auto;
    background: rgb(198, 199, 199);
  }
  &-submit {
    position: absolute;
    bottom: 5px;
    left: 10px;
    button {
      &:disabled {
        color: #fdfdfd;
        background: #b0cee8;
        &:hover {
          color: #fdfdfd;
          background: #82bbec;
        }
      }
    }
  }
}
// .Destination_Form_Style {
//   width: 550px;
//   height: 230px !important;
//   background-color: white;
//   border: 1px #bdbebd solid;
//   border-radius: 5px 5px 5px 5px;
//   padding: 5px 10px !important;
// }
.LoadForm {
  width: 550px;
  height: 280px;
  background-color: white;
  // border: 1px #bdbebd solid;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 10px !important;
  overflow: auto;
  padding-bottom: 80px !important;
  // position: relative;
  &-header {
    position: -webkit-sticky;
    position: sticky;
    top: -5px;
    background: #fdfdfd;
    z-index: 9999;
  }
  &-content {
    .ant-tabs-tab {
      margin-right: 12px !important;
    }
    .ant-radio-group {
      float: right;
    }
    &-tabFreeBar {
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-bottom: 7px;
      &-type {
        &-title {
          float: right;
          margin-bottom: 10px;
        }
      }
      &-units {
        .ant-radio-group {
          float: right !important;
        }
        &-title {
          float: right;
          margin-bottom: 10px;
        }
      }
    }
    &-polletsUnits {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-pollets {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-grow: 1;
        .ant-radio-button-wrapper {
          padding: 0 2rem;
        }
        &-type {
          margin-top: 1rem;
          flex-direction: column;
          // &-title {
          //   float: right;
          //   margin-bottom: 10px;
          // }
        }
      }
      &-units {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .ant-form-item {
          margin: 0;
        }
      }
    }
  }
  &-divider {
    bottom: 40px;
  }
  &-submit {
    width: 94.5%;
    height: 40px;
    position: absolute;
    direction: rtl;
    background: #fdfdfd;
    bottom: 10px;
    right: 0;
    z-index: 99;
    flex-direction: row-reverse !important;
    &-buttons {
      margin: 0.5rem;
    }
  }

  .titleOfInputs {
    float: right;
    margin-bottom: 10px;
  }
  &-dangerGood {
    flex-direction: row-reverse !important;
    margin: 0 !important;
    .ant-form-item-label {
      margin-right: 5px;
    }
  }
}
.goodsForm {
  width: 500px;
  height: auto;
  background-color: white;
  // border: 1px #bdbebd solid;
  border-radius: 5px 5px 5px 5px;
  padding: 5px 10px !important;
  position: relative;
  &-submit {
    position: absolute;
    left: 10px;
    bottom: 7px;
  }
}
.option_img {
  height: 24px;
  width: 24px;
  border-radius: 15px 15px 15px 15px;
  &-description {
    margin-right: 4px;
  }
}
.tab_img {
  height: 24px;
  width: 24px;
  border-radius: 15px 15px 15px 15px;
  margin-left: 2px;
}
.ant-alert-description {
  text-align: justify;
}
.container_alert_icon {
  background-color: white !important;
  border-color: #3a64d8 !important;
  border-width: 0 5px 0 0 !important;
  box-shadow: -4px 2px 10px 1px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px 8px 8px 8px;
}
.ant-alert-description {
  margin-right: 3px;
  width: 100%;
}
.result-layout-content-item-panel-header:hover {
  margin: 0 0 2% 0;
  border: 2px solid #2196f3;
}
