:root {
  //
  --main-background-color: rgb(0, 0, 0); /* switch to dark */
  --body-background-color: rgb(255, 255, 255); /* switch to dark */
  --header-background-color: rgb(255, 255, 255); /* switch to dark */
  --subheader-background-color: rgb(255, 255, 255); /* switch to dark */
  --dropdown-background-color: rgb(237, 241, 248); /* switch to dark */
  --icons: rgb(119, 127, 147); /* switch to dark */
  --primary-cta-color: rgb(60, 120, 224);
  --contrast-cta-color: rgb(255, 255, 255); /* switch to dark */
  --secondary-contrast-cta-color: rgb(119, 127, 147); /* switch to dark */
  --cta-layer-color: rgb(255, 255, 255);
  --system-green: rgb(84, 180, 137);
  --system-red: rgb(189, 48, 57);
  --system-yellow: rgb(224, 163, 0);
  --asks: rgb(232, 94, 89);
  --bids: rgb(84, 180, 137);
  --primary-text-color: rgb(23, 28, 41); /* switch to dark */
  --text-contrast-color: rgb(255, 255, 255); /* switch to dark */
  --input-background-color: rgb(255, 255, 255); /* switch to dark */
  --divider-color: rgb(0, 0, 0); /* switch to dark */
  --shadow-color: rgb(0, 0, 0); /* switch to dark */
  --landing-background-color: rgb(251, 251, 251);
  --strength-meter-very-strong: rgb(108, 239, 239);
}
